@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: "Cabin", sans-serif;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header nav ul li {
  padding: 5%;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  transition: 0.15s;
  color: #fbbc05;
}

a.login {
  color: #fbbc05;
}
a.login:hover {
  transition: 0.15s;
  color: #252b42;
}

a.get-started {
  background-color: #fbbc05;
  color: white;
  margin: 10px;
  padding: 3% 6%;
  border-radius: 8px;
}
a.get-started:hover {
  transition: 0.15s;
  background-color: #252b42;
  color: white;
}

@media (min-width: 1024px) {
  a.logo {
    align-items: center;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  header nav > ul {
    display: flex;
    align-items: center;
  }

  header nav ul ul {
    display: none;
  }
  header nav ul li {
    margin: 10px 30px;
    padding: 0;
  }

  header nav ul li:hover ul {
    display: block;
    position: absolute;
  }

  header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.7rem;
  }

  a.get-started {
    background-color: #fbbc05;
    color: white;
    margin: 0;
    padding: 15px 30px;
    border-radius: 8px;
  }
  .drop-item {
    margin: 14px 0;
  }

  /* Banner */

  section.banner {
    background: url(../src/images/iPhone.png) no-repeat right,
      url(../src/images/background-footer.webp),
      linear-gradient(rgba(225, 244, 255, 0.5), rgba(225, 244, 255, 0.5));
    padding: 10vw 15%;
    background-size: auto 100%;
  }

  section.banner h2 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 140%;
    width: 30%;
    color: #252b42;
  }

  section.banner .text {
    font-size: 0.8rem;
    width: 30%;
    color: grey;
    margin: 30px 0;
    line-height: 130%;
  }

  section.banner p button {
    font-size: 0.8rem;
    color: white;
    background-color: #252b42;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    margin: 20px 15px 0 0;
    cursor: pointer;
  }

  section.banner p button:hover {
    transition: 0.15s;
    background-color: black;
  }

  section.banner p button span {
    margin: 0 15px 0 0;
  }

  /* Ready */
  section.ready {
    text-align: center;
    padding: 6vw 10vw;
  }

  section.ready h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  section.ready p.text {
    display: block;
    font-size: 0.8rem;
    color: grey;
    margin: 30px 0;
    line-height: 130%;
    width: 40%;
  }
  section.ready .centro {
    display: flex;
    justify-content: center;
  }

  section.ready div.container {
    display: flex;
    align-items: center;
    padding: 50px 10vw;
  }

  section.ready div.itens ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 6%;
  }

  section.ready div.itens li {
    text-align: left;
    display: inline-block;
    width: 40%;
    margin: 30px;
  }

  section.ready div.itens span {
    background-color: #e1f4ff;
    padding: 8%;
    border-radius: 8px;
    color: #fbbc05;
    font-size: 1.4rem;
  }

  section.ready div.itens p {
    font-size: 0.8rem;
    color: grey;
    line-height: 130%;
  }

  section.ready div.itens h3 {
    font-weight: bold;
    margin: 30px 0;
  }

  /* Download */
  section.download div.container {
    border-radius: 24px;
    margin: 5% 15%;
    padding: 7%;
    background: url(../src/images/iPhone-13-Sem-Sombra.png) no-repeat,
      url(../src/images/iPhone-13-Sem-Sombra.png) no-repeat;
    background-size: 15%;
    background-position: 58% 245%, 90% -160%;

    background-color: #fbbc05;
  }

  section.download button {
    font-size: 0.8rem;
    color: white;
    background-color: #252b42;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    margin: 20px 15px 0 0;
    cursor: pointer;
  }

  section.download button:hover {
    transition: 0.15s;
    background-color: black;
  }

  section.download h2 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

  section.download p.text {
    display: block;
    font-size: 0.8rem;
    color: white;
    margin: 30px 0;
    line-height: 130%;
    width: 40%;
  }

  /* Services */

  section.services {
    padding: 0 5%;
    margin: 13% 0;
    display: flex;
    justify-content: space-between;
  }

  section.services div.know-lado {
    width: 30%;
  }

  section.services div.know-lado h2 {
    font-weight: bolder;
    font-size: 1.5rem;
    max-width: 50%;
  }

  section.services div.know-lado p {
    margin: 15px 0;
    font-size: 0.8rem;
  }

  section.services div.servicos {
    width: 60%;
  }
  section.services div.servicos ul {
    display: flex;
    flex-wrap: wrap;
  }

  section.services div.servicos ul div.icons {
    display: flex;
    justify-content: space-between;
  }

  section.services div.servicos ul li {
    background-color: #f6f6f6;
    width: 37%;
    height: 100%;
    padding: 5%;
    margin: 0 30px 30px 0;
  }

  section.services div.servicos ul li:hover {
    background-color: #fbbc05;
    transition: 0.15s;
    cursor: pointer;
  }

  section.services div.servicos ul span {
    font-size: 2.5rem;
    margin: 0 0 15px 0;
  }

  section.services div.servicos ul h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 30px 0;
  }

  section.services div.servicos ul p {
    color: #39393b;
    font-size: 0.8rem;
    line-height: 150%;
  }

  .hidden {
    opacity: 0%;
    transform: scale(0.5);
  }

  li:hover .hidden {
    opacity: 100%;
    transition: 0.15s;
  }
  /* Contact */
  section.contact {
    text-align: center;
    padding: 6vw 10vw;
  }

  section.contact h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  section.contact p.text {
    display: block;
    font-size: 0.8rem;
    color: grey;
    margin: 30px 0;
    line-height: 130%;
    width: 40%;
  }
  section.contact .centro {
    display: flex;
    justify-content: center;
  }

  section.contact div.container {
    display: flex;
    align-items: center;
    padding: 50px 10vw;
  }

  section.contact form {
    text-align: left;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section.contact form input,
  textarea {
    border: none;
    border-bottom: 2px solid #fbbc05;
    color: black;
    padding: 15px;
    font-size: 0.7rem;
  }

  section.contact div.inputs {
    width: 43%;
    margin: 0 0 7% 0;
  }

  section.contact form input {
    width: 100%;
  }

  section.contact form input::placeholder {
    color: black;
  }

  section.contact textarea {
    width: 100%;
  }

  section.contact form div.mensagem {
    width: 100%;
  }

  section.contact button {
    color: black;
    border: none;
    font-size: 0.7rem;
    background-color: #fbbc05;
    padding: 15px 30px;
    margin: 25% 0 0 0;
  }
  section.contact button:hover {
    transition: 0.15s;
    color: #fbbc05;
    background-color: black;
    cursor: pointer;
  }

  section.contact div.conter {
    display: flex;
    justify-content: center;
    padding: 5% 0;
  }
  section.contact iframe {
    margin-left: 50px;
  }
  /* Footer */
  footer div.container {
    display: flex;
    justify-content: center;
  }
  footer div.container div {
    padding: 5% 20%;
    width: 15%;
  }
  footer div.container div p {
    color: #737373;
    font-size: 0.8rem;
    margin: 15px 0;
  }
  footer div.container div h2 {
    font-weight: bold;
    font-size: 1.1rem;
    color: #252b42;
  }
  footer div.container div span {
    margin: 0 15px 0 0;
    color: #fbbc05;
  }
  footer div.fim {
    background-color: #e1f4ff;
    text-align: center;
    padding: 3% 0;
    font-size: 0.8rem;
    color: #737373;
    font-family: "Roboto";
    font-weight: bold;
  }
}
